.header {
    text-align: center;
    padding: 2rem 0;
}

.header-h1 {
    color: rgb(251, 28, 74);
}

.header-search {
    display: flex;
    width: 800px;
    padding: 8px;
    border: 1px solid rgb(213, 213, 213);
    box-shadow: 1px 1px 5px rgb(213, 213, 213);
    border-radius: 40px;
    margin: 0 auto 0.8rem auto;
}

.header-search__input {
    height: 30px;
    flex-grow: 1;
    border: none;
    outline: none;
    margin: 0 1rem;
}

.header-search__btn__main {
    border-radius: 40px;
    background-color: rgb(251, 28, 74);
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    margin: auto 0;
}

.header-search__btn__main:hover {
    cursor: pointer;
}

.header-search__btn__main:active {
    background-color: white;
    color: rgb(251, 28, 74);
    border: 1px solid rgb(251, 28, 74);
}

.header-search__btn__clear {
    background-color: white;
    color: black;
    border: none;
    height: 30px;
    width: 30px;
    margin: auto 1rem;
}

.header-search__btn__clear:hover {
    cursor: pointer;
}

.header-warning {
    height: 19px;
}

/* mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
    .header {
        padding: 1rem 0;
    }

    .header-search {
        width: 85%
    }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header-search {
        width: 600px;
    }
}

/* laptop */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
    .header-search {
        width: 600px;
    }
}

/* desktop */
@media screen and (min-width: 1920px) {}